<% unless smart_listing.empty? %>
  <table class="table table-striped">
    
    <tbody>
      <% smart_listing.collection.each do |category| %>
        <tr>
           <td><%= link_to(category.name, category_path(category)) %></td>
           <td><%= category.desc %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <% else %>
  <p class="warning">No records!</p>
<% end %>

